.blogButton {
    background-color: rgba(22, 20, 153, 0.041);
    text-align: left;

    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #0004423d;
}

@keyframes aHover {
    0% {
        color: rgb(112, 119, 211);
    }
    100% {
        color: rgb(60, 67, 165);
    }
}