:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0a16;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Source Code Pro";
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;

  margin: 0;
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: auto;
}

@media (min-height: 950px) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
  
    margin: 0;
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.loadingScreen {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: #00000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  z-index: 2;

  place-content: center;
  place-self: center;

  min-width: 30ch;
  max-width: 100ch;

  height: 100vh;

  margin: 0;
  padding-top: 2rem;
  text-align: center;

  opacity: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

#main {
  display: flex;
  flex-direction: column;

  justify-self: center;

  align-items: center;

  margin: 0;
  padding: 1rem;
  list-style: none;

  border: 2px solid #0004423d;
  border-radius: 15px;

  min-height: 60ch;
  height: 70vh;

  width: 100%;

  opacity: 1;

  background-color: rgba(2, 11, 53, 0.2);
}

p {
  margin: 0;
  padding: 0;
}

.pfp {
  aspect-ratio: 1;
  border-radius: 20%;

  min-width: 10ch;
  max-width: 20ch;
}

.name-header {
  font-size: 2rem;

  font-family: "Source Code Pro";
  color: #ffffff;
}

.name {
  height: 7rem;

  font-size: 5rem;
  font-family: "Source Code Pro";
  background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 255));
  color: transparent;
  background-clip: text;
}

.desc-header {
  position: relative;
  font-size: 1.8rem;
  font-family: "Source Code Pro";
  color: #ffffff;
}

.desc {
  padding-top: calc(2px + 1.5625vw);

  font-family: "Source Code Pro";
  color: #ffffff;

  font-size: 0.8rem;

  text-align: center;

  position: relative;
}

@media (min-height: 880px) {
  .desc {
    padding-top: calc(2px + 1.5625vw);
  
    font-family: "Source Code Pro";
    font-weight:normal;

    color: #e0e0e0e1;
  
    font-size: 1rem;
  
    text-align: center;
  
    position: relative;
  }
}

#social-icons {
  position: relative;
  bottom: 20vh;
}

.github-icon {
  position: relative;
  top: 10%;

  height: 100%;
}

.youtube-icon {
  position: relative;
  top: 10%;
  padding-left: 1%;
  padding-right: 1%;
}

.roblox-icon {
  position: relative;
  top: 10%;
}

#dev-icons {
  opacity: 1;
  position: relative;
  vertical-align: middle;

  bottom: 63.7vh;

  left: 2vw;

  width: 10%;
}
@media (min-width: 530px) {
  #dev-icons {
    opacity: 1;
    position: relative;
    vertical-align: middle;
  
    bottom: 63.7vh;
  
    right: 10vw;
    left: -10vw;
  
    width: 10%;
  }
}

@media (min-width: 1188px) {
  #dev-icons {
    opacity: 1;
    position: relative;
    vertical-align: middle;
  
    bottom: 63.7vh;
  
    right: 6vw;
    left: -6vw;
  
    width: 10%;
  }
}

.icon-link {
  aspect-ratio: 1;
  border-radius: 20%;

  border: 2px solid #0004423d;

  background-color: rgba(2, 11, 53, 0.2);


  min-width: 20px;
  max-width: 64px;

  min-height: 20px;
  max-height: 64px;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: 1;
}

.smooth-button {
  font-family: "Source Code Pro";

  border: 2px solid #01075e52;
  border-radius: 10px;

  background-color: rgba(4, 19, 88, 0.226);


  vertical-align: middle;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  transition-property: background-color / border-color / -webkit-transform / transform; 
  transition-duration: 500ms;
}

.smooth-button:hover .smooth-button:focus {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);

  background-color: rgba(6, 31, 143, 0.226);
  border-color: #000a9152;

  cursor: pointer;
}

a {
    color: rgb(176, 181, 255);   
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
    color: rgb(60, 67, 165);
}

a:active {
    color: rgb(255, 255, 255);
}